02-kestra/flows/nyc_taxi_ingestion.yml
id: nyc_taxi_ingestion
namespace: de.zoomcamp

inputs:
  - id: year
    type: SELECT
    displayName: Year
    values: ["2019", "2020", "2021", "2022", "2023", "2024"]
    defaults: "2024"

  - id: month
    type: SELECT
    displayName: Month
    values: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    defaults: "01"

tasks:
  - id: download_parquet
    type: io.kestra.plugin.core.http.Download
    uri: "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{{inputs.year}}-{{inputs.month}}.parquet"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{outputs.download_parquet.uri}}"
    to: "gs://food-security-pipeline-taxi-bucket/yellow_tripdata_{{inputs.year}}-{{inputs.month}}.parquet"
    serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
    projectId: food-security-pipeline

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
    projectId: food-security-pipeline
    destinationTable: "food-security-pipeline.ny_taxi.yellow_tripdata"
    format: PARQUET
    writeDisposition: WRITE_APPEND
    autodetect: true
    from:
      - "gs://food-security-pipeline-taxi-bucket/yellow_tripdata_{{inputs.year}}-{{inputs.month}}.parquet"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 5 * *"
    inputs:
      year: "{{ trigger.date | date('yyyy') }}"
      month: "{{ trigger.date | date('MM') }}"
